/* Grundläggande styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 1em;
    background-color: #f9f9f9;
    text-decoration: none;
    
}
.hero {
    text-align: center;
    border: 1px solid #ddd;
    margin: 1em 0;
    width: 100%;
}
.hero img {
    width: 100%;
    height: auto;
}
/* Header */
.header-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background: Lightgray;
    color: Black;
}
.header-main a {
    color: Black;
    text-decoration: none;
}

.header-logo-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    overflow: hidden;
}
.logo {
    width: 100%;
    height: auto;
}

.search-bar {
  margin-top: 10px;
}
.fa-heart .fa-cart-shopping {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
.header-buttons {
    margin-top: 10px;
}

/* Navbar */
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
    margin-left: 10px;
}

.nav-links li {
    display: flex;
    flex-direction: column;
}
.icon {
    font-size: 20px;
    cursor: pointer;
}
/* Produktlayout med badges */
.spots {
    display: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.product-image-container {
    position: relative;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 3px;
}

.wishlist {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: red;
}

/* Textstyling */
.brand {
    font-size: 1.2em;
    color: black;
    text-align: left;
}

.details {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}
.no-decoration {
    font-size: 1.2em;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

/* Footer */

/* ta bort markering för details lista webkit för att nå även safari */
summary::-webkit-details-marker {
    display: none;
}

summary  {
    list-style: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pointers-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

.footer {
    background: #f0f0f0;
    color: black;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ccc;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-section {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}

.footer-section h3 {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    display: none;
    margin-left: 1em;
}

.footer-section.active ul {
    display: block;
}

/* Responsivitet beroende på skärmstorlek */
@media (min-width: 640px) {
    .header-main {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .logo {
        width: 200px;
        height: auto;
    }
    
    .header-logo-search {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        margin: 5px;
    }
    
    .header-buttons {
       position: absolute;
       top: 10px;
       right: 20px;
       margin: 0;
       padding: 0;
    }

     .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
   
    .hero {
        margin-top: 40px;
    }
    .hero img {
        min-width: 90%;
        height: 500px;
        object-fit: cover;   
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .pointers-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-section h3 {
        cursor: default;
        margin: 0;
        padding: 10px;
        border-radius: 5px;
    }

    .footer-container {
        flex-direction: row;
    }

    .footer-section ul {
        display: block;
    }
}

@media (min-width: 1024px) {
    .hero {
        display: flex;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero img {
        min-width: 50%;
        height: 600px;
        object-fit: contain;
        margin-left: auto;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        max-width: 33%;;
    }
    
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .spots {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        gap: 20px;;
    }
    .spot {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }
    .spot-text {
        font-size: 1em;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .pointers-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}
